<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
	<script src='javascript/jquery/dist/jquery.min.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="css/style.css">
  <link href="javascript/jquery-ui/themes/le-frog/jquery-ui.css" rel="stylesheet">
	<title>Map to the Future!</title>
</head>

  <body>
  	<div id='map'></div>
    	<script>
       	L.mapbox.accessToken = "pk.eyJ1IjoiYmluYXJ5YmVycnkiLCJhIjoiVFFGaVhVRSJ9.Ji2eb0SFcAKpHCc_B3voLA";
        var map = L.mapbox.map('map', 'binaryberry.jp14jb9e');
        var eventLayer = L.geoJson().addTo(map);
    	</script>

    <h2 class="demoHeaders">Slider</h2>
    <div id="slider"></div>
     <p>Current Date: <span id="date"></span></p>

      <script src="javascript/jquery-ui/jquery-ui.js"></script>

      <script>
      $('document').ready( function(){
        $( "#slider" ).slider({
          min: new Date("1900").getFullYear(),
          max: new Date("2019").getFullYear(),
          step: 1,
          value: new Date("1970").getFullYear(),
          create: function(event, ui){
            $('#date').text((new Date($("#slider").slider("option", "value")).getFullYear()));
          },
          slide: function(event, ui) {
            $('#date').text(ui.value);
          },
          change: function(event, ui){
            $.ajax({
                url: "events/year/" + ui.value,
                beforeSend: function(){eventLayer.clearLayers();}
              }).done(function(geojson){
                eventLayer.addData(JSON.parse(geojson));
            });
          }
        });
      });
      </script>
  </body>
</html>