<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
	<script src='javascript/jquery/dist/jquery.min.js'></script>
	<script src='javascript/handlebars/handlebars.js'></script>
  <script src="javascript/jquery-ui/jquery-ui.js"></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="javascript/leaflet-sidebar-master/src/L.Control.Sidebar.css">
  <link rel="stylesheet" href="css/map_box.css">
  <link rel="stylesheet" href="css/popup.css">
  <link href="javascript/jquery-ui/themes/le-frog/jquery-ui.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/mapstyle.css">


	<title>Map to the Future!</title>

</head>

  <body>
    <script id="popup-template" type="text/x-handlebars-template">
      <div class="tabs-ui" id={{id}} >
        <div class="tab">
          <input type="radio" id="title" name="tab-group" checked="true" />
          <label for='title'>Event</label>
          <div class="content">
            <h1>{{title}}</h1>
            <h2>{{date}}</h2>
            <p>{{short_description}}</p>
            <p><a data-id={{id}} class='sidebar-caller'>Read more.</a>
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="linked-events" name="tab-group" />
          <label for='linked-events'>Linked Events</label>
          <div class="content">
            <ul>
              {{#each events}}
              <li>{{{link}}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="read more" name="tab-group" />
          <label for='read more'>Read more</label>
          <div class='content'>
            <ul>
              {{#each links}}
              <li>{{{link}}}</li>
              {{/each}}
              <li>test</li>
            </ul>
          </div>
        </div>
      </div>
    </script>

    <script id='sidebar-template' type='text/x-handlebars-template'>
            <p>{{context}}</p>
    </script>

    <div id='sidebar'><p></p></div>
    <div class="navbar" role="navigation">
      <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/images/mapToTheFutureGrad.png" alt="Map to The Future">
          </a>
      </div>
    </div>

    <section id="map"></section>

    <footer>
      <div class="footer-element" id="date-wrapper"><p id="date-line">Current Date: <span id="date">1790</span></p></div>
      <div class="footer-element" id="slider"></div>
    </footer>

    <script type='text/javascript' src="scripts/map_box.js"></script>
    <script type='text/javascript' src="./javascript/leaflet-sidebar-master/src/L.Control.Sidebar.js"></script>
    <script>

    </script>
    <script>
      $('document').ready( function(){
        $( "#slider" ).slider({
          programmatic: false,
          min: new Date("1583").getFullYear(),
          max: new Date("1997").getFullYear(),
          step: 1,
          value: new Date("1790").getFullYear(),
          create: function(event, ui){
            getMapData("year", "1790", eventLayer);
          },
          slide: function(event, ui) {
            $('#date').text(ui.value);
            eventLayer.clearLayers();
          },
          change: function(event, ui){
            if (event.originalEvent){
              getMapData("year", ui.value, eventLayer);
              } else if($(this).slider("option", "programmatic")) {
              getMapData("year", ui.value, eventLayer);
              };
            $('#date').text(ui.value);
          }
        });
      });
    </script>

    <script>
        var sidebar = L.control.sidebar('sidebar', {
            closeButton: true,
            position: 'right'
        });

        map.addControl(sidebar);

        setTimeout(function () {
            sidebar.show();
        }, 500);

        map.on('click', function () {
            sidebar.show();
        })

        L.DomEvent.on(sidebar.getCloseButton(), 'click', function () {
            console.log('Close button clicked.');
        });
    </script>
  </body>
</html>
