<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
	<script src='javascript/jquery/dist/jquery.min.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/map_box.css">
  <link rel="stylesheet" href="css/popup.css">
  <link href="javascript/jquery-ui/themes/le-frog/jquery-ui.css" rel="stylesheet">
	<title>Map to the Future!</title>
</head>

  <body>
  	<div id='map' class="map"></div>
    	<script type='text/javascript' src="scripts/map_box.js"></script>
      <section id="timeline-container">
        <p id="date-line">Current Date: <span id="date"></span></p>
        <div id="slider"></div>
      </section>

      <script src="javascript/jquery-ui/jquery-ui.js"></script>

      <script>
      $('document').ready( function(){
        $( "#slider" ).slider({
          min: new Date("1583").getFullYear(),
          max: new Date("1997").getFullYear(),
          step: 1,
          value: new Date("1900").getFullYear(),
          create: function(event, ui){
            $('#date').text((new Date($("#slider").slider("option", "value"))));
            getMapData("year", "1900", eventLayer);
          },
          slide: function(event, ui) {
            $('#date').text(ui.value);
            eventLayer.clearLayers();
          },
          change: function(event, ui){
            getMapData("year", ui.value, eventLayer);
          }
        });
      });
      </script>
  </body>
</html>