<html lang="de-DE" class=" js no-touch backgroundsize csstransforms responsejs "><!--<![endif]--><head>
    <title>Muumilaakso – Tampereen taidemuseo</title>
    <meta charset="utf-8">
    <meta name="author" content="Toteutus: Joonas Y">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:image" content="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-144x144-precomposed.png">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/img/icons/apple-touch-icon-precomposed.png">

    
<!-- All in One SEO Pack 1.6.15.3 by Michael Torbert of Semper Fi Web Design[481,524] -->
<meta name="description" content="Tampereen taidemuseon Muumilaakso on kirjailija ja taiteilija Tove Janssonin alkuperäisiä muumiteoksia esittelevä museo. Sen ainutlaatuiseen kokoelmaan kuuluu noin 2000 teosta.">
<meta name="keywords" content="muumi, moomin, muumilaakso, tampere, metso, tampereen taidemuseo, muumipeikko, pikku myy,">
<link rel="canonical" href="http://muumilaakso.tampere.fi/de/">
<!-- /all in one seo pack -->
<meta name="generator" content="WPML ver:2.6.0 stt:3,1,28,47,2,18,52;0">

    <!--[if (gt IE 8)|(IEMobile)]><!-->
        <link rel="stylesheet" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/css/style.css?17101130">
    <!--<![endif]-->

    <!--[if (lt IE 9)&!(IEMobile)]>
        <link rel="stylesheet" href="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/css/ie.css?17101130">
    <![endif]-->

    <script src="//www.google-analytics.com/ga.js"></script><script src="//connect.facebook.net/fi_FI//all.js#xfbml=1"></script><script src="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/js/lib/modernizr.custom.js"></script>
<style>.sequence-preloader{height: 100%;position: absolute;width: 100%;z-index: 999999;}@keyframes preload{0%{opacity: 1;}50%{opacity: 0;}100%{opacity: 1;}}.sequence-preloader .preloading .circle{fill: #5b9fca;display: inline-block;height: 12px;position: relative;top: -50%;width: 12px;animation: preload 1s infinite; animation: preload 1s infinite;}.preloading{display:block;height: 12px;margin: 0 auto;top: 50%;margin-top:-6px;position: relative;width: 48px;}.sequence-preloader .preloading .circle:nth-child(2){animation-delay: .15s; animation-delay: .15s;}.sequence-preloader .preloading .circle:nth-child(3){animation-delay: .3s; animation-delay: .3s;}.preloading-complete{opacity: 0;visibility: hidden;transition-duration: 1s; transition-duration: 1s;}div.inline{background-color: #5b9fca; margin-right: 4px; float: left;}</style><style type="text/css"></style><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(http://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f2f2f2;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3b5998;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29447e;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f2f2f2;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
.fbpluginrecommendationsbarleft,.fbpluginrecommendationsbarright{position:fixed !important;bottom:0;z-index:999}.fbpluginrecommendationsbarleft{left:10px}.fbpluginrecommendationsbarright{right:10px}</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

<body class="home blog de">

    <noscript class="jsframe notifyframe">
        &lt;strong&gt;Your JavaScript is disabled!&lt;/strong&gt; &lt;a href="http://enable-javascript.com/"&gt;Please activate it&lt;/a&gt;.
    </noscript>

    <!--[if lt IE 7]>
        <p class="notifyframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header class="page-header">
        <div class="logo">
            <a class="logo-img" href="http://muumilaakso.tampere.fi/de/"></a>
            <h1><a href="http://muumilaakso.tampere.fi/de/">Muumilaakso – Tampereen Taidemuseo</a></h1>
        </div>
        <nav class="nav-main">
            <ul> 
                <li id="menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-463"><a href="http://muumilaakso.tampere.fi/de/museo/">Mumintal</a>
<ul class="sub-menu">
	<li id="menu-item-957" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-957"><a href="http://muumilaakso.virtualtampere.com/ger/metso/">Virtual exhibition Metso 2012</a></li>
</ul>
</li>
<li id="menu-item-469" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-469"><a href="http://muumilaakso.tampere.fi/de/press-de/">Press</a>
<ul class="sub-menu">
	<li id="menu-item-1366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366"><a href="http://muumilaakso.tampere.fi/de/medium/">Medium</a></li>
</ul>
</li>
<li id="menu-item-475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-475"><a href="http://muumilaakso.tampere.fi/de/kauppa/">Shop</a></li>
<li id="menu-item-481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481"><a href="http://muumilaakso.tampere.fi/de/yhteystiedot/">Kontakt</a></li>
                <li class="icons">
                    <a href="http://www.facebook.com/muumilaakso" class="icon-facebook" title="Facebook">Facebook</a>
                    <a href="https://twitter.com/muumilaakso" class="icon-twitter" title="Twitter">Twitter</a>
                    <a href="http://muumilaakso.tampere.fi/de/feed/" class="icon-rss" title="Rss">Rss</a>
                </li>
            </ul>
        </nav>
        <a href="#nav" class="nav-button"></a>
        <div class="lang">
            <ul><li><a href="http://muumilaakso.tampere.fi/de/" class="lang-active">de</a></li><li><a href="http://muumilaakso.tampere.fi/en/">en</a></li><li><a href="http://muumilaakso.tampere.fi/es/">es</a></li><li><a href="http://muumilaakso.tampere.fi/">fi</a></li><li><a href="http://muumilaakso.tampere.fi/ja/">ja</a></li><li><a href="http://muumilaakso.tampere.fi/ru/">ru</a></li><li><a href="http://muumilaakso.tampere.fi/sv/">sv</a></li></ul>        </div>
    </header>

    <div class="slideshow" style="height: 223px;">
        <div class="slide-controls" style="display: block;">
            <div class="slide-dots"><span class=""></span><span class=""></span><span class="slide-dot-current"></span></div>
            <div class="slide-prev" style="display: block;"></div>
            <div class="slide-next" style="display: block;"></div>
        </div>
        <ul style="width: 100%; height: 100%; position: relative;">
                        <li class="" style="display: list-item; width: 100%; height: 100%; position: absolute; z-index: 1;">
                <div class="slide animate-out" style="">
                    <div class="slide-title">
                                                <h2 class="block-them">
                            <a href="">
                                                            </a>
                        </h2>
                                            </div>
                                         <img src="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/11/muumilaakso-bg-etusivu-3.jpg" data-src768="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/11/muumilaakso-bg-etusivu-3.jpg" data-i-response="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/11/muumilaakso-bg-etusivu-3-640x360.jpg" style="position: absolute; width: auto; height: 901px; max-width: none; max-height: none; left: -1px; top: -339px;">
                                     </div>
            </li>
                        <li class="" style="display: list-item; width: 100%; height: 100%; position: absolute; z-index: 1;">
                <div class="slide animate-out" style="">
                    <div class="slide-title">
                                                <h2 class="block-them">
                            <a href="">
                                                            </a>
                        </h2>
                                            </div>
                                         <img src="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu2.jpg" data-src768="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu2.jpg" data-i-response="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu2-640x360.jpg" style="position: absolute; width: auto; height: 901px; max-width: none; max-height: none; left: -1px; top: -339px;">
                                     </div>
            </li>
                        <li class="current-frame" style="display: list-item; width: 100%; height: 100%; position: absolute; z-index: 3;">
                <div class="slide animate-in">
                    <div class="slide-title">
                                                <h2 class="block-them">
                            <a href="">
                                                            </a>
                        </h2>
                                            </div>
                                         <img src="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu-5.jpg" data-src768="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu-5.jpg" data-i-response="http://muumilaakso.tampere.fi/wp/wp-content/uploads/2012/10/muumilaakso-bg-etusivu-5-640x360.jpg" style="position: absolute; width: auto; height: 901px; max-width: none; max-height: none; left: -1px; top: -339px;">
                                     </div>
            </li>
                    </ul>
    </div>

      <div id="fb-like" class="fb-like fb_iframe_widget" data-href="http://www.facebook.com/muumilaakso" data-send="false" data-layout="box_count" data-width="65" data-show-faces="false" style="display: block; opacity: 1;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;href=http%3A%2F%2Fwww.facebook.com%2Fmuumilaakso&amp;layout=box_count&amp;locale=fi_FI&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=65"><span style="vertical-align: bottom; width: 81px; height: 61px;"><iframe name="fda09256c" width="65px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/plugins/like.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2Fw9JKbyW340G.js%3Fversion%3D41%23cb%3Df3c241cf1%26domain%3Dmuumilaakso.tampere.fi%26origin%3Dhttp%253A%252F%252Fmuumilaakso.tampere.fi%252Ff1482720f8%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fwww.facebook.com%2Fmuumilaakso&amp;layout=box_count&amp;locale=fi_FI&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=65" style="border: none; visibility: visible; width: 81px; height: 61px;" class=""></iframe></span></div>
      <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/w9JKbyW340G.js?version=41#channel=f1482720f8&amp;origin=http%3A%2F%2Fmuumilaakso.tampere.fi" style="border: none;"></iframe><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/w9JKbyW340G.js?version=41#channel=f1482720f8&amp;origin=http%3A%2F%2Fmuumilaakso.tampere.fi" style="border: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>


    
    <div class="block-list" style="margin-top: 0px;">
        <div class="block-fade"></div>
        <a href="http://muumilaakso.tampere.fi/de/press-de/" class="button">
            Press        </a>
            <div class="scroll">
            <ul>
                                <li><a href="http://muumilaakso.tampere.fi/de/exceptions-to-the-opening-hours-2/">Exceptions to the opening hours<span>23.08.2013</span></a> </li>
                                <li><a href="http://muumilaakso.tampere.fi/de/senior-days-in-moominvalley-3/">Senior days in Moominvalley<span>23.08.2013</span></a> </li>
                             </ul>
        </div>
    </div>

    
    <nav id="nav" class="nav-mobile"><ul><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-463"><a href="http://muumilaakso.tampere.fi/de/museo/">Mumintal</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-957"><a href="http://muumilaakso.virtualtampere.com/ger/metso/">Virtual exhibition Metso 2012</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-469"><a href="http://muumilaakso.tampere.fi/de/press-de/">Press</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366"><a href="http://muumilaakso.tampere.fi/de/medium/">Medium</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-475"><a href="http://muumilaakso.tampere.fi/de/kauppa/">Shop</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-481"><a href="http://muumilaakso.tampere.fi/de/yhteystiedot/">Kontakt</a></li>
</ul></nav>
            <footer class="footer">
            <div class="wrap footer--top">
                <div class="row">
                    <div class="span-4 widget"><h5 class="widget--title">Moomin related pages</h5>        <div class="textwidget">» <a href="http://www.moomin.fi/">Moomin Characters</a> <br>
» <a href="http://www.bullspress.fi/">Bulls Press</a></div>
</div><div class="span-4 widget"><h5 class="widget--title">Follow moomins</h5>        <div class="textwidget"><a href="http://facebook.com/muumilaakso" class="button light">
        <i class="icon-facebook"></i>
        Facebook
</a>
 <a href="https://twitter.com/muumilaakso" class="button light">
        <i class="icon-twitter"></i>
        Twitter
</a></div>
</div><div class="span-4 widget"><h5 class="widget--title">Contact</h5>        <div class="textwidget"> <strong>Tampere Art Museums Moominvalley</strong> <br>
                Tel. +358 (0)3 5656 6577<br>
                 Puutarhakatu 34<br>
                33101 Tampere</div>
</div>                </div>
            </div>
            <div class="footer--bottom">
                <div class="icons">
                    <a href="http://www.facebook.com/muumilaakso" class="icon-facebook" title="Facebook">Facebook</a>
                    <a href="https://twitter.com/muumilaakso" class="icon-twitter" title="Twitter">Twitter</a>
                    <a href="http://muumilaakso.tampere.fi/de/feed/" class="icon-rss" title="Rss">Rss</a>
                </div>
                <p>Pictures © 2013 Moomin Characters™ <span>/</span> <br> Content © 2013 <a href="http://muumilaakso.tampere.fi/de/">Muumilaakso</a> <br>
                     <span>/</span> <a href="http://www.tampere.fi">Tampereen kaupunki</a></p>
            </div>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/js/lib/jquery.min.js"><\/script>')</script>
    <script src="http://muumilaakso.tampere.fi/wp/wp-content/themes/muumilaakso/assets/js/all.min.js?17101130"></script>

    <script>
        var _gaq=[['_setAccount','UA-31888021-2'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>


</body></html>