!!!
%head
%body
  %p GeoJSON file:
  %form{method: "POST", enctype: 'multipart/form-data'}
    %input{type: 'file', name: 'geoJSON'}
    %input{type: 'submit', value: 'Submit'}

  %p Add a new event:
  %form{method: "POST", enctype: 'multipart/form-data'}
    %input{type: 'text', name: 'title', placeholder: "Event name", required: true}
    %input{type: 'text', name: 'description', placeholder: "Event description", required: true}
    %input{type: 'text', name: 'longitude', placeholder: "Event longitude", required: true}
    %input{type: 'text', name: 'latitude', placeholder: "Event latitude", required: true}
    %input{type: 'text', name: 'timescale', placeholder: "Timescale, ie: year", required: true}
    %input{type: 'text', name: 'startdate', placeholder: "Start date", required: true}
    %input{type: 'text', name: 'enddate', placeholder: "End date"}
    %input{type: 'text', name: 'tags', placeholder: "Tags ie: political, cultural", required: true}
    %input{type: 'text', name: 'linkedevents', placeholder: "Linked events ie: Tesla's death, Gandhi's birth"}
    %input{type: 'submit', value: 'Submit'}
